<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Meta -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ThisPlace - Help</title>
  <!-- Style -->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/style.css">
  <!-- Analytics -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', '', 'auto');
    ga('send', 'pageview');
  </script>

</head>
<body>
  <div class="container">
    % if err:
    <aside class="alert alert-danger" role="alert">Error: {{ err }}</aside>
    % end
    <main class="main">
      <h1>ThisPlace</h1>
      <!--<p class="lead">-->
        <h3>Remember a 3x3 m<sup>2</sup> location anywhere in the world with just four words.</h3>
      <p class="text-warning">This is hot off the press. We are still
	finalising things, so locations might not be
	reproducible. Do not use it to mark the location of your
	antarctic resupply drop quite yet!
      </p>
      <p class="lead">
	Sharing a precise location with others is hard, especially if
	you are trying to meet somewhere without a street
	addresses. <a href="/">ThisPlace</a> lets you find four easy
	to remember words that uniquely identify a location anywhere
	on the planet.
      </p>
      <p class="lead">
	Then share by: shouting them across a field, passing them on
	over the phone, writing them down or even tweeting them. Reach
	your friends where ever they are.
      </p>
      <p class="lead">
	If you see <strong>4words</strong> anywhere you can easily look up the
	corresponding location on this webpage.
      </p>

      <h2>Use it</h2>
      <ul class="lead">
	<li>Type in an address to find out its four words (try <i>1600 Pennsylvania avenue ...</i>)</li>
	<li>To find the location referenced by a set of four words, type them in separated by a dash (try <i>{{ sydney }}</i>)</li>
	<li>Go straight to exploring the map by clicking the <i>Find on Map</i> button, it will take you to Sydney</li>
      </ul>
      <p id="input3wordsContainer">
        <input type="text" class="form-control" id="input3words" placeholder="1600 Pennsylvania .. OR {{ sydney }}">
      </p>
      <p>
        <button id="button3words" class="btn btn-lg btn-primary">Find on Map</button>
      </p>
      <h2>Examples</h2>
      <p class="lead">
	Some interesting locations to visit:
	<ul class="lead">
	  <li><a href="{{ battery }}">Battery Park, NYC</a></li>
	  <li><a href="{{ san_fran }}">Downtown San Francisco</a></li>
	  <li><a href="{{ sydney }}">Sydney, Australia</a></li>
	</ul>
      </p>
      <h2>Open source</h2>
      <p class="lead">
	We believe in open source, so you can run your own
	<strong>ThisPlace</strong> webpage and help people meet each other at the
        right place. The project is hosted
        on <a href="https://github.com">github</a> under the
        name <a href="https://github.com/placeware/thisplace">ThisPlace</a>. Help
        us make it more awesome!
      </p>
    </main>
    <footer>
      <p class="text-center text-muted">Made with ♥ by <a href="https://betatim.github.io/">Tim</a> and <a href="https://dun.gs">Kevin</a>. <a href="https://github.com/placeware/thisplace">Fork it on GitHub</a>.
    </footer>
</div>
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places"></script>
  <script src="/static/js/app.js"></script>
  <script>
  (function () {
    var initialise = function () {
      var default3words = '{{ sydney }}';
      var searchbox = new google.maps.places.SearchBox(
           (document.getElementById('input3words')));

      google.maps.event.addListener(searchbox, 'places_changed', function() {
        // Get the place details from the autocomplete object.
        var places = searchbox.getPlaces();
        if (places.length > 0) {
          place = places[0];
          ThisPlace.apiGetFromLatLng(place.geometry.location,
                                     function(status, data) {
              if (status >= 200 && status < 400) {
                window.location = "/" + data.four;
              }
          });
        } else {
          var words = document.getElementById('input3words').value;
          if (/\w+-\w+-\w+/.test(words)) {
            window.location = '/' + words;
          }
	}
      });
      document.getElementById('button3words').addEventListener('click', function(evt) {
	  var threewords = document.getElementById('input3words').value;
          if (threewords.length === 0) {
            threewords = default3words;
          }
          if (/\w+-\w+-\w+/.test(threewords)) {
            window.location = '/' + threewords;
          } else {
            document.getElementById('input3wordsContainer').classList.add('has-error');
          }
      });
    };
    window.addEventListener('load', initialise);
  }());
  </script>
</body>
</html>
