<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Meta -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>these-3-words Map</title>
  <!-- Style -->
  <style type="text/css">
    html, body, #map-canvas { height: 100%; margin: 0; padding: 0;}
  </style>
</head>
<body>
  <div id="map-canvas"></div>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>
  <script type="text/javascript">
    function initialize() {
      var loc = {
        lat: {{ lat }},
        lng: {{ lng }}
      };
      var map = new google.maps.Map(document.getElementById('map-canvas'), {
        center: loc,
        zoom: 14
      });
      var marker = new google.maps.Marker({
        position: loc,
        map: map,
        title: "{{ threewords }}"
      });
    }
    google.maps.event.addDomListener(window, 'load', initialize);
  </script>
</body>
</html>
