<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Meta -->
  <meta charset="utf-8">
  <title>These4Words</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <meta name="application-name" content="These3Words">  
  <meta name="author" content="Tim Head">  
  <meta name="author" content="Kevin Dungs">  
  <meta name="description" content="Unique, easy-to-remember names for locations in the world.">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <!-- OpenGraph -->
  <meta property="og:title" content="These4Words">
  <meta property="og:type" content="app.map">
  <meta property="og:description" content="Unique, easy-to-remember names for locations in the world.">
  <meta property="og:image" content="">
  <!-- Style -->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
  <script src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>
  <script src="/static/js/app.js"></script>
  <script>
    (function() {
      'use strict';
      var map = new These3Words.Map({{lat}}, {{lng}}, '{{threewords}}');
      //google.maps.event.addDomListener(window, 'load', map.init);
      map.init();
     }());
  </script>
  <noscript>
    <div class="panel panel-danger">
      <div class="panel-heading">Missing Javascript Support</div>
      <div class="panel-body">
        Your browser does not seem to support Javascript. Unfortunately this app relies heavily on said technology and can't be used without it. Please upgrade to a more modern browser or activate Javascript in case you disabled it.
      </div>
    </div>
  </noscript>
  </body>
</html>
